English version

Requirements

Make sure you meet the course requirements before proceeding. See RECOMMENDED LEARNING PATHS!

Resources for this lecture

https://docs.google.com/document/d/1_hma_Q19C5PJzDpqedSQseknPnc-j00KuJk6OJej-n8/edit




Versão em Português

Requisitos
Certifique-se de atender aos requisitos do curso antes de prosseguir. Veja CAMINHOS DE APRENDIZAGEM RECOMENDADOS !

Recursos para esta palestra

https://docs.google.com/document/d/1_hma_Q19C5PJzDpqedSQseknPnc-j00KuJk6OJej-n8/edit